@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" ng- style="background-image: url(~/Assets/plasma.jpg)">

    <h1 class="display-4">Welcome to the Tutoring Portal!</h1>
    <br />

    @if (User.IsInRole("Student"))
    {
        

    }
    @if (User.IsInRole("Student"))
    {

    }
    @if (User.IsInRole("Student"))
    {

    }
    else
    {
        <h3>Please log in or create an account.</h3>
    }

</div>

<style>


</style>
