@model Course

@{

    ViewData["Title"] = "Edit Course";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form asp-action="EditCourse" asp-controller="Course">

    <h2>@ViewData["Title"]</h2>

    @Html.HiddenFor(m => m.CourseID)

    <div class="form-group">
        <label>Course Code</label>
        <input asp-for="CourseCode" class="form-control" />
    </div>

    <div class="form-group">
        <label>Course Description</label>
        <input asp-for="CourseDescription" class="form-control" />
    </div>

    <div class="form-group">
        <label>Course Department</label>
        <select asp-for="DepartmentID" asp-items="ViewBag.AllDepartments" class="form-control">
            <option>None</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Edit Course</button>
</form>
