@model Ticket

<h3>Your Payment  for @Model.TicketName has been processed.</h3>

<br />

<div>
    <a class="btn btn-outline-dark" asp-controller="Forum" asp-action="ForumAccess">Forum</a>
</div>

<br />

<div>
    <a class="btn btn-outline-danger" asp-controller="Home" asp-action="Index">Home</a>
</div>
