@model Fall2020AppGroup12.Models.TicketModel.Ticket

<div>

    <h2 style="font-weight: bold"> Sorry, no qualified tutors for @Model.CourseCode</h2>
    <br />
    <h4>Press the button below to request help.</h4>
    <br />
    <br />
    @*<a class="btn btn-outline-primary" asp-controller="Misc" asp-action="RequestForQualifiedTutor" asp-route-ticketID="@Model.TicketID">Request a Tutor</a>*@

</div>