@{
    ViewData["Title"] = "TicketHubMain";
}

<h1>TicketHubMain</h1>


<div class="">
    <partial name="ListAllTicketsPartial" model="Model" /></div>

<div><partial name="ListAllTutorsPartial" model="Model" /></div>

<div><partial name="ListAllTutorCoursesPartial" model="Model" /></div>

<div><partial name="ListAllStudentsPartial" model="Model" /></div>

<div><partial name="ListAllMajorsPartial" model="Model" /></div>

<div><partial name="ListAllCoursesPartial" model="Model" /></div>

