@model Fall2020AppGroup12.Models.ViewModels.ListDatabaseViewModel

@{
    ViewData["Title"] = "All data";
}

<div>
    <partial name="ListAllDepartmentsPartial" model="Model" />
</div>
<br />
<div>
    <partial name="ListAllCoursesPartial" model="Model" />
</div>
<br />
<div>
    <partial name="ListAllDiscussionsPartial" model="Model" />
</div>
<br />
<div>
    <partial name="ListAllResponsesPartial" model="Model" />
</div>
<br />
<div>
    <partial name="ListAllCommentsPartial" model="Model" />
</div>
<br />
<div>
    <partial name="ListAllStudentsAndTutorsPartial" model="Model" />
</div>
<br />
<div>
    <partial name="ListAllTicketsPartial" model="Model" />
</div>
<br />
<div>
    <partial name="ListAllMajorsPartial" model="Model" />
</div>
<br />
<div>
    <partial name="ListAllTutorCoursesPartial" model="Model" />
</div>
<br />

