@model Fall2020AppGroup12.Models.ViewModels.SearchForDiscussionsInCourseViewModel
@{
    ViewData["Title"] = "SearchDiscussionsByCourse";
}

<h4>Choose a Course to list all Discussions related to it. </h4>
<h6>All selections are optional</h6>

<form asp-controller="Discussion" asp-action="SearchForDiscussionsByCourse" method="post">

    <input asp-for="UserFirstVisit" value="No" type="hidden" />

    <div class="form-group">
        <label>Choose Course</label>
        @* The view model comes into play in the following line/step *@
        <select asp-for="CourseID" asp-items="ViewBag.AllCourses" class="form-control">
            <option value="">None</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Search For Discussions</button>


</form>



@if (Model.ResultList != null)
{
    @if (Model.ResultList.Any())
    {
        <h1>Search Results</h1>
        <table class="table table-bordered table-striped">

            <thead>

                <tr>
                    <th>Discussion Title</th>
                    <th>Discussion Descrption</th>
                    <th> Date Created</th>
                </tr>
            </thead>

            <tbody>

                @foreach (Discussion eachDiscussion in Model.ResultList)
                {

                    <tr>
                        <td>@eachDiscussion.DiscussionTitle</td>
                        <td>@eachDiscussion.DiscussionDescription</td>
                        <td>@eachDiscussion.DiscussionDateCreated</td>
                    </tr>
                }

            </tbody>





        </table>
    }
    else
    {
        <h4> No discussions meet your search criteria.</h4>
    }
}